<!-- TODO: add upcoming hours -->
<h5>5 day forecast</h5>
<!-- ! CARD -->
<!-- <div class="card bg-light" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">temp</th>
      <th scope="col">date</th>
      <th scope="col">day of the week</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25</td>
      <td>17 april</td>
      <td>friday</td>
    </tr>
    <tr>
      <td>25</td>
      <td>17 april</td>
      <td>friday</td>
    </tr>
    <tr>
      <td>25</td>
      <td>17 april</td>
      <td>friday</td>
    </tr>
    <tr>
      <td>25</td>
      <td>17 april</td>
      <td>friday</td>
    </tr>
    <tr>
      <td>25</td>
      <td>17 april</td>
      <td>friday</td>
    </tr>
  </tbody>
</table>
