<!-- TODO: add upcoming hours -->
<h5>5 day forecast</h5>
<!-- ! CARD -->
<!-- <div class="card bg-light" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">date</th>
      <th scope="col">day of the week</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of fetched5dayWeatherData">
      <td>
        {{ forecast.main.temp | number : "1.0-0" }} °C
        <img
          class="img-size"
          src="{{ forecast.weather![0].icon | weatherImg }}"
          alt=""
        />
      </td>
      <td>
        {{ forecast.dt_txt | date : "EEE, MMM dd" }}
      </td>
      <td>
        {{ forecast.dt_txt | date : "EEE" }}
      </td>
    </tr>
  </tbody>
</table>
