/* You can add global styles to this file, and also import other style files */

body {
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
img {
  width: 120px;
  height: 120px;
}

.three-day-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.btnEdited {
  margin-left: 5px;
}

.combinesTitleAndCard {
  min-width: 400px;
}
.combinesTitleAndCard2 {
  min-width: 300px;
}

#map {
  width: 25vw;
  height: 25vh;
  background-color: red;
}
