<div class="d-flex flex-wrap justify-content-center">
  <div
    *ngFor="let item of timelineForOneDay"
    class="card text-bg m-2"
    style="max-width: 10rem"
  >
    <div class="card-header">
      {{ item.time | date : "HH:mm" }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.temp | number : "1.0-0" }}°C</h5>
      <img class="img-size" src="{{ item.icon | weatherImg }}" alt="" />
      <p class="card-text text-center">
        {{ item.conditions }}
      </p>
    </div>
  </div>
</div>
